<ul>
  {{#each []}}
    <li data-id="{{@index}}">
      <strong>{{this.display_name}}</strong>
      <p>Estimated Price: &emsp; {{this.estimate}}<br>
       Distance: &emsp; &emsp;&emsp; {{this.distance}} miles
       </p>
     
    </li>
  {{/each}}
</ul>
